{% extends 'base.html.twig' %}

{% block title %}New Todo{% endblock %}

{% block body %}
    <h1>Create new Todo</h1>

    {{ include('todo/_form.html.twig') }}

    <a href="{{ path('todo_index') }}">back to list</a>
{% endblock %}
